<div class="form-container">
  <%= form_with(model: sale) do |form|%>
    <% if sale.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

        <ul>
          <% sale.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label 'Comprador' %>
      <%= form.text_area :buyer %>
    </div>

    <div class="field">
      <%= form.label 'Descrição' %>
      <%= form.text_area :description %>
    </div>

    <div class="field">
      <%= form.label 'Preço Unitário' %>
      <%= form.text_field :unit_price %>
    </div>

    <div class="field">
      <%= form.label 'Quantidade' %>
      <%= form.text_field :amount %>
    </div>

    <div class="field">
      <%= form.label 'Endereço' %>
      <%= form.text_area :address %>
    </div>

    <div class="field">
      <%= form.label 'Fornecedor' %>
      <%= form.text_field :provider %>
    </div>

    <div class="actions">
      <%= button_tag 'Salvar' %>
    </div>
  <% end %>
</div>
