<p id="notice"><%= notice %></p>

<p>
  <strong>Comprador:</strong>
  <%= @sale.buyer %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @sale.description %>
</p>

<p>
  <strong>Preço Unitário:</strong>
  <%= @sale.unit_price %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @sale.amount %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @sale.address %>
</p>

<p>
  <strong>Fornecedor:</strong>
  <%= @sale.provider %>
</p>

<%= link_to 'Editar', edit_sale_path(@sale) %> <br>
<%= link_to 'Voltar', sales_path %>
