<p id="notice"><%= notice %></p>

<p>
  <strong>Buyer:</strong>
  <%= @sale.buyer %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sale.description %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @sale.unit_price %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @sale.amount %>
</p>

<p>
  <strong>Address:</strong>
  <%= @sale.address %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @sale.provider %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
